* {
  @import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
  font-family: 'Cabin', sans-serif;
}

h1 {
  text-align: center;
}

.login-page {
  width: 400px;
  padding: 8% 0 0;
  margin: auto;
  border-radius: 10px;
}

.form {
  position: relative;
  z-index: 1;
  background: #15202b;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

.form input {

  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 20px;

}

.form button,
input[type=submit] {

  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #badbbb;
  width: 100%;
  border: 0;
  padding: 10px;
  color: #15202b;
  font-size: 14px bold;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 20px;
  max-width: 75px;
  text-align: center;
}

.form input[type=submit]:hover,
.form input[type=submit]:active,
.form input[type=submit]:focus {
  background: #43A047;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 15px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container .info span .fa {
  color: #EF3B3A;
}

body {
  background-color: #15202b;
  /* fallback for old browsers */

}